
body
{
    background-color: rgb(220,233,234);
    color: #181818;
    font-family: calibri, sans-serif;
}

#main-body {
    width: 98%;
    margin: auto;
}

/*  -- navigation --  */
#navbar {
    background-color: rgb(95,158,160);
    overflow: hidden;
}

#navbar nav {
    width: 400px;
}

#navbar ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#navbar a {
    color: #181818;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

#just-stream-it {
    border: solid 1px black;
    border-radius: 3px;
    width: 100px;
}

#dropdown {
    display: inline-block;
    padding: 10px;
    position: static;
}

#dropdown-content {
    display: none;
    background-color: rgb(220,233,234);
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 5px;
    position: absolute;
    z-index: 1;
}

#dropdown-content a {
    display: block;
    font-weight: normal;
    padding: 10px;
}

#dropdown-content a:hover {
    background-color: rgb(95,158,160);
}

/*  -- best movies --  */
#the-best img {
    height: fit-content;
    margin: 0 20px 0 0;
}

#best-movie {
    width: 100%;
}

#button {
    display: flex;
    justify-content: center;
}

.open-button {
    margin-top: -50px;
}

.button {
    border: solid 1px rgb(95, 158, 160);
    border-radius: 3px;
    background-color: rgb(220,233,234);
    font-size: large;
    font-weight: bold;
    padding: 10px 40px;
}

.border {
    background-color: white;
    border: solid 2px grey;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.border h2 {
    background-color: rgb(220,233,234);
    border: solid 1px grey;
    border-radius: 3px;
    margin: 0 0 10px 0;
    padding: 10px;
    text-align: center;
}

/*  -- modal best movie -- */
.container {
    display: flex;
    margin-left: 20px;
}

.container img {
    border: solid 2px black;
    border-radius: 3px;
    margin-right: 20px;
}

.movie-content {
    display: flex;
    flex-direction: column;
}

.movie-content tr {
    text-align: left;
}

th, td {
    padding: 0 10px 10px 0;
}

#second-table {
    padding-top: 20px;
}

.modal {
    border: solid 2px grey;
    border-radius: 5px;
    display: none;
    margin-left: 15%;
    margin-top: -375px;
    overflow: auto;
    position: fixed;
    width: min-content;
    z-index: 9999;

}

.show#modal {
    display: block;
}


.btn-right {
    rotate: 90deg;
    position: absolute;
    margin: 120px -20px;
}

.btn-left {
    rotate: -90deg;
    position: absolute;
    margin: -150px 1155px;
}

.margin-left {
    margin-left: 100px;
}